html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: "Poppins", sans-serif;
}

.home-title {
    position: relative;
    text-align: center;
    color: white;
}
.center-text {
    position: absolute;
    top: 50%; /* 45 for more vertical space */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(124, 108, 158, 0.75);
    padding: 20px;
    padding-top: 10px;
}
.center-text h1{
    font-size: 150px;
    margin: 0;
}
.center-text h2{
    font-size: 40px;
    margin: 0;
}
/* .center-text #block{

} */

.bg-img {
    background-image: url("./img/austin_bg.jpg");
    min-height: 1950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    position: absolute;
    width: 100%;
}

#topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
    background-color: rgba(124, 108, 158, 0.4);
}
#topnav .topleft{
    display: inline-flex;
    float: left;
    text-align: center;
    margin: 0;
    padding: 3px;
}
#topnav .topright{
    display: inline-flex;
    float: right;
    text-align: center;
    margin: 0;
    padding: 3px;
}
#topnav li a{
    padding: 14px 16px;
}
#topnav li a:hover {
    background-color: #3C3B6E;
}
#topnav li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#topnav input[type=text] {
    margin-right: 16px;
    font-size: 17px;
    padding: 13px 200px 14px 14px;
}
#topnav #register a{
    background-color: #5d5ba8;
}
#topnav #register a:hover{
    background-color: #3c3b6e;
}
#topnav #heart a:hover{
    color: #ff5555;
    background-color: rgba(141, 133, 133, 0.4);
}
#topnav #logolink{
    padding: 0px 8px;
}
#topnav .topleft img{
    height: 2.5em;
}



.contact-us{
    text-align: center;
    margin: 100px 100px;
}
.contact-us h2{
    font-size: 40px;
    font-weight: 600;
    margin: 0 10% 25px;
}
.contact-us h4{
    font-size:30px;
    font-weight: 600;
}
.contact-us p{
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
    margin: 15px 10% 0;
}

footer{
    font-size: 11px;
    text-align: center;
    color: gray;
    line-height: 5px;
    margin-top: auto;
    display: inline-block;
    bottom:0;
    left:0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: gray;
}
footer a:hover{
    text-decoration: underline;
    color: blue;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
 
.store-feature{
    margin: 5px;
    padding: 10px;
    display: block;
    height: 31.5em;
    width: 26em;
    border: #3c3b6e 2px solid;
    
}

.store-feature h3 {
    font-size: 40px;
    line-height: 25px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.store-feature h3 a{
    text-decoration: none;
    color: black;
}
.store-feature h3 a:hover{
    color: #3C3B6E;
}

.store-feature h4 {
    margin: 0;
}

.videocontainer{
    float: right;
    position: relative;
    text-align: center;
}
.videocontainer iframe{
    padding: 1px;
    border: #3c3b6e 2px solid;
    width: 160px;
    height: 90px;
}

.store-feature .sub{
    width: 100%;
}
.store-feature .sub img{
    object-fit: cover;
    width: 4em;
    height: 4em;
}
.store-feature .sub a{
    text-decoration: none;
    color: black;
}
.store-feature .sub figure{
    width: 15%;
    float: left;
    margin: 10px;
    
}
.store-feature .sub figcaption{
    text-align: center;
    font-size: 14px;
}

.filterContainer {
    position: absolute;
    top: 6%;
    left: 0%;
    transform: translate(0%, 0%);
    width: 220px;
    height: -webkit-fill-available;
    max-height: 1720px;
    border: black 1px solid;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsecontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}