.flex-container {display: flex; justify-content: center;}
.main { min-width: 42em; max-width: 42em;}
.container {border: 2px solid; padding: 1em; padding-top: 0em;}
.imagecontainer {position: relative; left: 0; top: 0; }
#img1 {position: relative; left: 0; top: 0; z-index: 0;}
#img2 {position: absolute; left: 0; top: 0; z-index: 0;}
#img3 {position: absolute; left: 0; top: 0; z-index: 0;}
#img4 {position: absolute; left: 0; top: 0; z-index: 0;}
#img5 {position: absolute; left: 0; top: 0; z-index: 0;}
#img6 {position: absolute; left: 0; top: 0; z-index: 0;}
.btn  { z-index: 0; text-align: center;}
input {background-color: midnightblue; color: white; border: 1px solid #fff}
h1 { z-index: 0; text-align: center; font-size: 3em; margin: 0em; text-shadow: 0.25px 0.25px #fff, -0.25px -0.25px #fff;}
h2 { z-index: 0; text-align: center; font-size: 2em; color: #fff; text-decoration: underline;}

body { background-color: midnightblue;}