body {
	background-color: #bf5700
}
#titleText {
	text-align: center;
	font-size: 3em;
	margin-bottom: 0em;
	margin-top: 0.25em;
}
h2 {
	margin-bottom: 0em;
	margin-top: 0.25em;
}
.flex-container {
	display: flex;
	justify-content: center;
}
.container {
	font-size: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	border: 4px solid;
	padding: 1em;
	margin: 0.25em;
}
.cellContainer {
	border: 1px solid;
	padding: 1em;
	text-align: center;
}
.cellBtns {
	font-size: 1em;
	text-align: center;
	border-color: blue;
	background-color: #bf5700
}